@import '../common/styles/base';

.a-vip-icon {
    text-transform: none;

    font-family: $vip-icons-font-family;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    speak: none;
}

.a-vip-icon_next:before {
    content: '\e900';
}

.a-vip-icon_send:before {
    content: '\e901';
}

.a-vip-icon_phone:before {
    content: '\e902';
}

.a-vip-icon_info:before {
    content: '\e903';
}

.a-vip-icon_calendar:before {
    content: '\e904';
}

.a-vip-icon_delete-line:before {
    content: '\e905';
}

.a-vip-icon_return-line:before {
    content: '\e906';
}

.a-vip-icon_order:before {
    content: '\e907';
}

.a-vip-icon_timer:before {
    content: '\e908';
}

.a-vip-icon_close:before {
    content: '\e909';
}

.a-vip-icon_zip:before {
    content: '\e90a';
}

.a-vip-icon_double-quote:before {
    content: '\e90b';
}

.a-vip-icon_one-quote:before {
    content: '\e90c';
}

.a-vip-icon_new-tab:before {
    content: '\e90d';
}

.a-vip-icon_parlay-add:before {
    content: '\e90e';
}

.a-vip-icon_position:before {
    content: '\e90f';
}

.a-vip-icon_checkmark:before {
    content: '\e910';
}

.a-vip-icon_favourites-default:before {
    content: '\e911';
}

.a-vip-icon_favourites-select:before {
    content: '\e912';
}

.a-vip-icon_hockey:before {
    content: '\e913';
}

.a-vip-icon_tennis:before {
    content: '\e914';
}

.a-vip-icon_american-football:before {
    content: '\e915';
}

.a-vip-icon_sports-baseball:before {
    content: '\e916';
}

.a-vip-icon_sports-soccer:before {
    content: '\e917';
}

.a-vip-icon_logout:before {
    content: '\e918';
}

.a-vip-icon_arrow-dropdown:before {
    content: '\e919';
}

.a-vip-icon_show-available-funds:before {
    content: '\e91a';
}

.a-vip-icon_hide-available-funds:before {
    content: '\e91b';
}

.a-vip-icon_home:before {
    content: '\e91c';
}

.a-vip-icon_back:before {
    content: '\e91d';
}

.a-vip-icon_search:before {
    content: '\e91e';
}
