@import '../common/styles/base';

.a-menu {
    display: flex;
    align-items: center;

    margin: 0 $column-center-horizontal-margin;
    width: $menu-width-md;

    @media (min-width: $screen-lg-min) {
        width: $menu-width-lg;
    }

    @media (min-width: $screen-xlg-min) {
        width: $menu-width-xlg;
    }

    &__item {
        align-items: center;

        margin-right: $menu-item-margin-right;

        transition: all $common-transition;
        text-decoration: none;

        color: $menu-text-color;

        font-size: $menu-item-text-size;

        &:hover {
            color: $menu-item-hovered-text-color;
        }

        &_selected {
            color: $menu-item-selected-text-color;
        }

        &_pos_right {
            margin-left: auto;
        }
    }
}
